<h2>
  {{title}}
</h2>

<div class="row">
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'" >All </button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='boats'" (click)="filterBy='boats'">Boats</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='camping'" (click)="filterBy='camping'">Camping</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='cats'" (click)="filterBy='cats'">Cats</button>
  <button class="btn btn-lg btn-info" [class.active]="filterBy=='books'" (click)="filterBy='books'">Books</button>

<ul id="thumbNailList">
  <li *ngFor=" let image of (visibleImages | imageFilter:filterBy)" class="thumbnails">
    <a [routerLink] = "['/image', image.id]">
    <img src="{{image.url}}"/>
    </a>
  </li>


</ul>
</div>
